#Listado de archivos ignorados
ESE_GRS.sdf
ESE_GRS.sln
ESE_GRS.suo
ESE_GRS.v11.suo
ESE_GRS.opensdf
/Debug
/ESE_GRS/Debug
/ESE_GRS/data 
/ESE_GRS/ESE_GRS-XLS
/ESE_GRS/freeglut.dll
/ESE_GRS/libxl.dll
/ESE_GRS/ESE_GRS.vcxproj
/ESE_GRS/ESE_GRS.vcxproj.filters
/ESE_GRS/ESE_GRS.vcxproj.user
/ESE_GRS/~AutoRecover.ESE_GRS.vcxproj
/ESE_GRS/ESE_GRS.APS
/ESE_GRS/ESE_GRS.rc
/ESE_GRS/icon.aps
/ESE_GRS/resource1.h

